.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 4.15%; }
  .header__social-icons {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .header__logo {
    flex: 2;
    position: relative; }

.logo-container {
  position: absolute;
  top: -24px;
  width: 100%; }
  .logo-container__logo {
    display: block;
    margin: auto;
    width: 8vw; }

.phones-container {
  display: flex;
  flex: 1;
  justify-content: flex-end; }

.phones {
  position: relative; }
  .phones__logo {
    position: absolute;
    left: -27px;
    top: 20%;
    color: #545454; }
  .phones__phone {
    margin: 5px 0;
    font-size: 0.9em; }

.title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 43px); }
  .title-page:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: inherit;
    width: 100%;
    background: linear-gradient(rgba(186, 57, 55, 0.7), rgba(186, 57, 55, 0.7)), url("../images/background-auto.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .title-page__logo-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .title-page__text {
    width: 60vw;
    margin: 3vw auto;
    font-size: 0.9em;
    text-align: center; }
    @media (max-width: 768px) {
      .title-page__text {
        display: none; } }

.about-us {
  margin-top: 40px; }
  .about-us__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #eeeeee;
    background: linear-gradient(30deg, #ba3937 0%, #ba3937 7%, rgba(255, 255, 255, 0) 7%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #ffffff 0%, #ffffff 73.5%, #eeeeee 73.5%, #eeeeee 100%); }
  .about-us__video {
    width: 100%;
    height: 50vh; }
  .about-us__title-logo {
    width: 7vw; }
  .about-us__title {
    color: #0377BC;
    border-bottom: 1px solid #0377BC;
    margin: 5px 0; }
  .about-us__text {
    width: 70vw;
    font-size: 0.9em;
    text-align: center; }
  .about-us__background-title_position_right {
    top: 20px;
    right: -65px; }
  .about-us__background-title_position_left {
    top: 20px;
    left: 6px; }

.achievements {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  margin-top: 40px; }

.block-with-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw 8vw;
  min-width: 15vw;
  box-sizing: border-box;
  flex: 1; }
  .block-with-picture__picture {
    height: 4vw; }
  .block-with-picture__label {
    font-size: 1.1em; }

.info {
  position: relative; }
  .info__button {
    position: absolute !important;
    right: 10vw;
    bottom: 4.3vw; }
  .info__background-title_position_left {
    bottom: -9vw;
    top: auto;
    left: -47px; }

.infographic-container {
  position: relative;
  padding: 150px 7% 0;
  background: #eeeeee;
  background: -moz-linear-gradient(45deg, #eeeeee 0%, #eeeeee 68%, #ffffff 68%, #ffffff 100%);
  background: -webkit-linear-gradient(45deg, #eeeeee 0%, #eeeeee 68%, #ffffff 68%, #ffffff 100%);
  background: linear-gradient(40deg, #eeeeee 0%, #eeeeee 74%, #ffffff 74%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=1 ); }

.infographic {
  display: flex;
  justify-content: flex-start;
  height: 20vw;
  width: 80%; }

.rhomb-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px -4vw;
  height: 44%;
  transform: rotate(45deg);
  flex: 1; }
  .rhomb-container__rhomb {
    width: 7vw;
    height: 7vw;
    padding: 20px;
    background-color: white;
    margin: 0 1vw; }
    .rhomb-container__rhomb_color_main-color {
      background-color: #0377BC; }
    .rhomb-container__rhomb_color_add-color {
      background-color: #974C4E; }
  .rhomb-container__icon {
    transform: rotate(-45deg);
    margin: auto;
    height: 3vw; }
    .rhomb-container__icon_ship {
      margin-left: -1vw;
      margin-top: 1vw; }
    .rhomb-container__icon_car {
      margin-left: -0.3vw;
      margin-top: 0.4vw; }
  .rhomb-container__text {
    margin: auto;
    font-size: 0.8vw;
    transform: rotate(-45deg);
    text-align: center;
    width: 9vw; }

.advantages {
  margin: 5vw 10vw 8vw; }
  .advantages__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      .advantages__container {
        flex-direction: column; } }
  .advantages__picture {
    width: 5vw;
    margin-right: 3vw; }
  .advantages__block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1; }
    .advantages__block:nth-child(2n + 1) {
      margin-right: 20px; }
  .advantages__title {
    margin: 0; }

.popular {
  padding: 4.15%;
  background: white;
  background: -moz-linear-gradient(-45deg, white 0%, white 50%, #eeeeee 50%, #eeeeee 100%);
  background: -webkit-linear-gradient(-45deg, white 0%, white 50%, #eeeeee 50%, #eeeeee 100%);
  background: linear-gradient(135deg, white 0%, white 50%, #eeeeee 50%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 ); }
  .popular__hyundai {
    border-bottom: 5px solid #0377BC; }
  .popular__kia {
    border-bottom: 5px solid #974C4E; }

.auto-carousel__logo {
  margin: 30px auto;
  display: block; }

.auto-carousel__picture {
  width: 20vw; }

.owl-carousel .owl-item img {
  display: block;
  width: 70%; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  width: 90%;
  margin: auto; }

.owl-carousel .owl-nav button.owl-prev.disabled {
  background: url(../../../../images/arrow-no-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
  transform: rotate(0); }

.owl-carousel .owl-nav button.owl-next.disabled {
  background: url(../../../../images/arrow-no-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
  transform: rotate(180deg); }

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  background: url(../../../../images/arrow-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px; }

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  background: url(../../../../images/arrow-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
  transform: rotate(180deg); }

.owl-nav {
  position: absolute;
  top: 35%;
  width: 100%; }

.price-reviews {
  padding: 4.15%; }
  .price-reviews__container {
    display: flex;
    flex-direction: row; }
    @media (max-width: 768px) {
      .price-reviews__container {
        flex-direction: column; } }
  .price-reviews__block {
    flex: 1; }
    .price-reviews__block:nth-child(2n+1) {
      flex: 1.5;
      margin-right: 1%; }
  .price-reviews__title {
    font-weight: normal;
    text-align: center; }
  .price-reviews__button {
    margin: 50px auto;
    display: block; }

.auto-price__cell {
  background-color: #eeeeee;
  padding: 20px;
  border: 5px solid white;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold; }
  .auto-price__cell_text_grey {
    color: #545454; }
  .auto-price__cell_text_white {
    color: white; }
  .auto-price__cell_text_main-color {
    color: #0377BC; }
  .auto-price__cell_text_add-color {
    color: #974C4E; }
  .auto-price__cell_back_main-color {
    background-color: #0377BC; }
  .auto-price__cell_back_add-color {
    background-color: #974C4E; }

.feedback {
  display: flex;
  flex-direction: row;
  padding: 50px 0; }
  @media (max-width: 768px) {
    .feedback {
      flex-direction: column; } }
  .feedback__block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .feedback__title {
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center; }
    .feedback__title_color_main-color {
      background-color: #0377BC; }
    .feedback__title_color_add-color {
      background-color: #974C4E; }

.footer {
  background-color: #974C4E;
  padding: 25px 4.15%; }

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("MyriadPro-Regular.eot");
  src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"), url("MyriadPro-Regular.otf") format("otf"), url("MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro Regular", sans-serif; }

.main-color {
  color: #0377BC; }

.white-color {
  color: white; }

.title {
  text-align: center;
  font-weight: normal; }

.rhomb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  margin: 6vh 3vw;
  padding: 20px;
  transform: rotate(45deg);
  background-color: white; }
  .rhomb__element {
    transform: rotate(-45deg);
    width: 110%;
    margin: auto; }

.button {
  position: relative;
  border: none;
  padding: 12px 20px;
  background-color: #0377BC; }
  .button:before {
    content: '';
    position: absolute;
    width: 25%;
    height: 67%;
    top: -3px;
    right: -3px;
    border-top: 2px solid #0377BC;
    border-right: 2px solid #0377BC; }
  .button_border_white:before {
    content: '';
    position: absolute;
    width: 25%;
    height: 67%;
    top: -3px;
    right: -3px;
    border-top: 2px solid white;
    border-right: 2px solid white; }

.background-title {
  position: absolute;
  z-index: -1;
  font-size: 7em;
  font-weight: 700;
  text-transform: uppercase;
  color: #eeeeee; }
  @media (max-width: 768px) {
    .background-title {
      display: none; } }
