.popular {
  position: relative;
  padding: $padding-main;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(-45deg,  white 0%, white 50%, $color-add2-gray 50%, $color-add2-gray 100%);
  background: -webkit-linear-gradient(-45deg, white 0%, white 50%, $color-add2-gray 50%, $color-add2-gray 100%);
  background: linear-gradient(135deg, white 0%, white 50%, $color-add2-gray 50%, $color-add2-gray 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr=$color-add2-gray,GradientType=1 );

  &__hyundai {
    border-bottom: 5px solid $color-main;
  }

  &__kia {
    border-bottom: 5px solid $color-add;
  }
}


.auto-carousel {
  &__logo {
    margin: 30px auto;
    display: block;
    @media (max-width: $width-mobile) {
      width: 30vw;
    }
  }

  &__picture {
    width: 20vw;
  }
}

.owl-carousel .owl-item img {
  display: block;
  width: 70%;
}


.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  width: 90%;
  margin: auto;
}


.owl-carousel .owl-nav button.owl-prev.disabled {
  background: url(../../../../images/arrow-no-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
  transform: rotate(0);
}

.owl-carousel .owl-nav button.owl-next.disabled {
  background: url(../../../../images/arrow-no-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
  transform: rotate(180deg);

}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  background: url(../../../../images/arrow-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  background: url(../../../../images/arrow-active.png);
  background-size: 100% 100%;
  width: 22px;
  height: 40px;
  transform: rotate(180deg);
}

.owl-nav {
  position: absolute;
  top: 35%;
  width: 100%;
}