@import "variables.scss";
@import "header.scss";
@import "title-page.scss";
@import "about-us.scss";
@import "info.scss";
@import "popular.scss";
@import "price-reviews.scss";
@import "feedback.scss";
@import "footer.scss";


@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.otf') format('otf'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  color: #363636;
}

.anchor {
  text-decoration: none;
  color: #363636;

  &_white {
    color: white;
  }

  &:hover {
    color: $color-main;
  }
}

.main-color {
  color: $color-main;
}


.white-color {
  color: white;
}

.title {
  text-align: center;
  font-weight: normal;
}

.rhomb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  margin: 6vh 8vw;
  padding: 20px;
  transform: rotate(45deg);
  background-color: white;

  &__element {
    transform: rotate(-45deg);
    width: 110%;
    margin: auto;
  }

  &_white {
    opacity: 0.4;
  }

  &_light {
    opacity: 0.1;
  }

  &_grey-one {
    background-color: #EDEDED;
  }

  &_grey-two {
    background-color: #F2F2F2;
  }

  &_grey-three {
    background-color: #E5E5E5;
  }
}

.button {
  position: relative;
  border: none;
  padding: 12px 20px;
  background-color: $color-main;

  &:before {
    content: '';
    position: absolute;
    width: 25%;
    height: 67%;
    top: -3px;
    right: -3px;
    border-top: 2px solid $color-main;
    border-right: 2px solid $color-main;
  }

  &_border_white {
    &:before {
      content: '';
      position: absolute;
      width: 25%;
      height: 67%;
      top: -3px;
      right: -3px;
      border-top: 2px solid white;
      border-right: 2px solid white;
    }
  }
}

.button-container {
  position: relative;
  display: block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  &::before {
    bottom: -1px;
    left: -3px;
    border-left: 2px solid $color-main;
    border-top: 2px solid $color-main;
    //transition: 0s ease opacity .6s, .4s ease width, .2s ease height .4s;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  }
  &::after {
    top: -1px;
    right: -3px;
    border-right: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
    //transition: 0s ease opacity .12s, .6s ease width .4s, .2s ease height .10s;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  &:hover::before,
  &:hover::after{
    //height: 115%;
    //width: 103.5%;
    //height: 112%;
    //width: 103%;
    height: calc(1em + 12px + 12px + 3px + 3px);
    width: calc(100% + 3px + 3px);
    opacity: 1;
  }
  &:hover::before {
    transition: 0s ease opacity .6s, .2s ease height .6s , .4s ease width .8s;
  }
  &:hover::after {
    transition: 0s ease opacity 0s, .2s ease height, .4s ease width .2s;
  }

  &_border_white {
    &::before {
      bottom: -1px;
      left: -3px;
      border-left: 2px solid white;
      border-top: 2px solid white;
      //transition: 0s ease opacity .6s, .4s ease width, .2s ease height .4s;
      transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
    }
    &::after {
      top: -1px;
      right: -3px;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      //transition: 0s ease opacity .12s, .6s ease width .4s, .2s ease height .10s;
      transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
    }
    //&:hover::before,
    //&:hover::after{
    //  height: 115%;
    //  width: 103.5%;
    //  opacity: 1;
    //}
  }
}

.background-title {
  position: absolute;
  z-index: -1;
  font-size: 7em;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-add2-gray;

  @media (max-width: $width-mobile) {
    display: none;
  }
}



.social-icons__icon {
  text-decoration: none;
}

.navigation {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: $width-mobile) {
    display: none;
  }

  &_under-all {
    z-index: 2;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 20px;
    margin-bottom: 0;

    @media (max-width: 1000px) {
      font-size: 2em;
    }
  }

  &__digit {
    margin-left: 15px;
    font-weight: bold;
  }

  &__element {
    margin: 10px 23px;
    font-size: 1.6em;
    line-height: 1em;
    cursor: pointer;

    &_active {
      width: 0.4em;
      height: 0.4em;
      border: 0.08em solid;
      text-align: right;

      &:hover {
        background-color: $color-main;
      }
    }

    &_triangle {
      font-size: 1.4em;
    }
  }
}

.hover{
  & .main-color {
    transition: ease all 0.5s;
  }

  &:hover .main-color {
    color: $color-add;

  }
}

.hover-footer-icon {
  & .main-color, & .fa-inverse {
    transition: ease all 0.5s;
  }

  &:hover .fa-inverse {
    color: $color-add;
  }

  &:hover .main-color {
    color: white;
  }
}

.container-four-rhomb {
  position: absolute;
  z-index: -1;
  width: 20vw;
  height: 20vw;

  @media (max-width: $width-mobile) {
    display: none;
  }

  &_mini {
    width: 10.3vw;
    height: 10.3vw;
  }

  &__rhomb {
    position: absolute;
    padding: 0;
    margin: -2.1vw;

    &_mini {
      width: 6vw;
      height: 6vw;
    }

    &_position_top-left {
      top: 0;
      left: 0;
    }

    &_position_top-right {
      top: 0;
      right: 0;
    }

    &_position_bottom-left {
      bottom: 0;
      left: 0;
    }

    &_position_bottom-right {
      bottom: 0;
      right: 0;
    }
  }
}

/*facebook add comment*/
//.fb_ltr {
//  position: absolute;
//  top: -18vw;
//}
//
//.fb-comments.fb_iframe_widget {
//  overflow: hidden;
//  height: 71%;
//}